@use '../global' as *;

/* --------------------------------
 * base
 * -------------------------------- */
html *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: var(--color-text);
  font-family: var(--font-base);
  line-height: 2.5;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-text);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
}

h2 {
  position: relative;
  margin-top: rem(40);
  font-size: rem(40);
  font-weight: 600;
  letter-spacing: rem(5);
  line-height: 2;
  text-align: center;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   display: block;
  //   width: rem(50);
  //   height: 5px;
  //   border-radius: rem(5);
  //   background-color: var(--color-main);
  // }
}

.p-notes__title:first-letter {
  font-size: 1.5em;
  color: var(--color-main);
}
.p-works__title:first-letter {
  font-size: 1.5em;
  color: var(--color-accent--blue);
}
.p-games__title:first-letter {
  font-size: 1.5em;
  color: var(--color-accent--pink);
}
.p-plans__title:first-letter {
  font-size: 1.5em;
  color: var(--color-accent--purple);
}

@include sp {
  body {
    line-height: 2;
  }

  h2 {
    font-size: rem(20);
  }
}

/* --------------------------------
 * container
 * -------------------------------- */
.l-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.l-container--back {
  background-color: #fff;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #efefef, #efefef 1px, #fff 1px, #fff);
}