@use '../global' as *;

/* --------------------------------
 * button
 * -------------------------------- */

.c-button {
  margin-top: rem(10);
  margin-bottom: rem(10);
}
.c-button__link {
  position: relative;
  border: solid rem(2) var(--color-main-b);
  padding:  rem(10) rem(40);
  font-size: rem(16);

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--color-main);
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s ease;
    transition-property: transform;
  }
}
.c-button__text {
  position: relative;
  font-weight: bold;
  letter-spacing: 0.15em;
}



// .c-button {
//   margin-top: rem(10);
//   margin-bottom: rem(10);
//   padding: rem(3) rem(30);
//   border-bottom: solid rem(5) var(--color-main);
//   border-radius: rem(10);
//   font-size: rem(14);
//   font-weight: bold;
//   letter-spacing: 0.15em;
//   color: #ffffff;
//   background-color: var(--color-main-b);

//   &:hover {
//     border-bottom: solid rem(5) var(--color-main-b);
//     background-color: var(--color-main);
//     color: var(--color-main-b);
//     transition: all ease-out 0.3s;
//   }
// }
