@use '../global' as *;

/* --------------------------------
 * button
 * -------------------------------- */



.c-button {
  margin-top: rem(10);
  margin-bottom: rem(10);
  padding: rem(3) rem(30);
  border-bottom: solid rem(5) var(--color-main);
  border-radius: rem(10);
  font-size: rem(14);
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #ffffff;
  background-color: var(--color-main-b);

  &:hover {
    border-bottom: solid rem(5) var(--color-main-b);
    background-color: var(--color-main);
    color: var(--color-main-b);
    transition: all ease-out 0.3s;
  }
}

