@use '../global' as *;

/* --------------------------------
 * articles
 * -------------------------------- */

.p-article__cont {
	max-width: var(--w-container);
	margin: 0 auto rem(40);
	padding: var(--pc-padding);
}

.p-article__ttl {
	font-size: rem(32);
	font-weight: 400;
	color: var(--color-main);
	text-align: left;
	letter-spacing: 0.15em;
}

.p-article__mv {
	margin: rem(40) auto;
	max-width: 720px;
}

.p-article__inner {
	padding-bottom: rem(50);
	text-align: left;

	& h3 {
		margin-top: rem(15);
		margin-bottom: rem(10);
		font-size: rem(25);
		font-weight: 400;
		position: relative;
		letter-spacing: 0.15em;

		&::before {
			content: "";
			display: inline-block;
			width: 0.25em;
			height: 1.2em;
			margin-right: 0.5em;
			background-color: var(--color-main);
			transform: translateY(17%);
		}

	}

	& p, ul, ol, li {
		margin-right: rem(15);
		margin-left: rem(15);
		line-height: 2;
	}

	& ul, ol, figure {
		margin: rem(30) rem(15);
	}
}