@use '../global' as *;

/* --------------------------------
 * footer
 * -------------------------------- */

.footer_inner {
  width: 20%;
  min-width: 164.594px;
  position: absolute;
  left: 0;
  border-top: rem(4) solid var(--color-main);
  background-color: var(--color-main-b);
  font-size: rem(12);
  color: #ffffff;
  line-height: 1.25rem;
  text-align: center;
}

// tab

@include tab {

}


// sp

@include sp {

}