@use '../global' as *;

/* --------------------------------
 * header
 * -------------------------------- */

header {
  min-height: 100vh;
  border-bottom: rem(10) solid var(--color-main-b);
  background-color: var(--color-main-b);
}

.header__inner {
  text-align: center;
  padding: rem(15);
  color: #ffffff;
  letter-spacing: 0.2em;

  & h1 {
    margin: rem(40) rem(20);
  }

  & a {
    color: #ffffff;

    &:hover {
      text-shadow: 0 0 5px var(--color-main);
      transition: all 0.3s;
    }

  }

  & ul {

    & li {
      margin: rem(20);
    };
  }
}


// sp

@include sp {

}