@use '../global' as *;

/* --------------------------------
 * main
 * -------------------------------- */

//  fv

.fv img {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-width: rem(1920);
  min-height: rem(1122);
  z-index: 0;
  margin: 0 auto;
}

.fv__inner {
  position: absolute;
  top: rem(300);
  left: 15%;
  z-index: 1;

  & h1 {
    writing-mode: vertical-rl;
    font-size: rem(28);
    line-height: 5;
    letter-spacing: 0.25em;
  }
}

.fv__text {
  padding: rem(28) rem(28) rem(105);
  background-color: #ffffff;
}

.fv__text--pdsm {
  padding: rem(28) rem(28) rem(70);
  background-color: #ffffff;
}

.fv__text--green {
  color: var(--color-accent);
}


// about

.about {
  margin-top: rem(160);
}

.about__inner {
  display: flex;
  justify-content: space-between;

  & img {
    max-height: 420px;
  }
}

.about__text {
  margin-right: rem(20);
}


// contents

.contents {
  background-color: var(--color-main);
  text-align: center;
  margin-top: rem(100);
  padding-top: rem(50);
}


// treatments

.treatments__inner p {
  margin-top: rem(70);
}

.treatments__details {
  margin-top: rem(50);
  display: flex;
  justify-content: space-between;
}

.treatments__box {
  position: relative;
  padding: rem(25) rem(25) rem(200);
  width: 32%;
  height: auto;
  text-align: center;
  background-color: #ffffff;
  border: solid 2px #C9C9C9;
  border-radius: 10px;

  & h3 {
    font-size: rem(24);
  }

  & p {
    text-align: left;
    font-weight: bold;
  }

  & img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}


// news

.news__inner {
  margin-top: rem(70);
  padding-bottom: rem(70);
}

.news__box {
  margin-top: rem(70);
  padding: rem(50) rem(30) rem(50);
  border-radius: 30px;
  box-shadow: 0 3px 6px #00000029;
  background-color: #ffffff;
  text-align: right;

  & ul {
    padding: 0;
    margin: 0 auto rem(40);
    width: 90%;
  }
}

.news__list {
  display: flex;
  align-items: center;
  padding: rem(25) 0;
  text-align: left;
  border-bottom: 2px solid #E7E7E7;

  & a {
    font-weight: bold;
    padding-left: 1em;
    text-indent: -1.2em;
  }

  & a::before {
    content: "";
    margin-left: rem(20);
  }

  & time {
    color: var(--color-accent);
    font-weight: bold;
  
    &::after {
      content: "";
      margin-right: rem(20);
    }
  }
}

.news__label {
  display: block;
  min-width: rem(80);
  padding: rem(7);
  font-size: rem(12);
  color: #ffffff;
  background-color: var(--color-text);
  text-align: center;
}

.news__toall {
  margin-right: rem(30);
  font-weight: bold;

  & a::after {
    content: "▶";
    margin-left: rem(15);
  }
}


// tab

@include tab {
    // fv

    .fv img {
      min-height: rem(600);
    }
    
    .fv__inner {
      top: rem(150);
      left: 15%;
      z-index: 1;
    
      & h1 {
        font-size: rem(24);
        line-height: 4;
        letter-spacing: 0.25em;
      }
    }

    .fv__text {
      padding: rem(15) rem(15) rem(60);
    }
    
    .fv__text--pdsm {
      padding: rem(15) rem(15) rem(30);
    }

  
    // about
  
    .about {
      margin-top: rem(50);
    }
  
    .about__inner {
      display: block;

      & img {
        margin: 0 auto;
      }
    }
  
    .about__text {
      margin: 0 auto;
      text-align: center;
  
      & p {
        margin: rem(20) auto rem(30);
      }
    }
  
  
    // contents
  
    .contents {
      margin-top: rem(70);
      padding-top: rem(50);
    }
  

    // treatments
  
    .treatments__inner p {
      margin-top: rem(40);
    }

}


// sp

@include sp {

  // fv

  .fv img {
    position: inherit;
    min-height: rem(250);
  }

  .fv__inner {
    position: inherit;
    text-align: center;
    background-color: var(--color-main);

    & h1 {
      margin-top: 0;
      padding: rem(15);
      writing-mode: inherit;
      font-size: rem(18);
      line-height: 2;
      letter-spacing: 0.15em;
    }
  }

  .fv__text,
  .fv__text--pdsm {
    padding: 0 rem(10);
    background-color: transparent;
  }


  // about

  .about__text p {
    text-align: left;
  }


  // treatments

  .treatments__details {
    margin-top: rem(50);
    display: block;
  }

  .treatments__box {
    position: static;
    margin-bottom: rem(20);
    padding: rem(20);
    width: 100%;
    height: auto;

    & h3 {
      font-size: rem(18);
    }

    & img {
      position: static;
      transform: translate(0, 0);
      margin: 0 auto;
    }
  }


  // news

  .news__box {
    margin-top: rem(40);
  }

  .news__list {
    display: block;

    & a {
      padding-left: 0;
      text-indent: 0;
    }

    & a::before {
      margin-left: 0;
    }

    & time {
      margin-bottom: rem(20);

      &::after {
        margin-right: 0;
      }
    }
  }

  .news__label {
    width: rem(80);
    margin: rem(5) 0 rem(15);
  }

}