@use '../global' as *;

/* --------------------------------
 * main
 * -------------------------------- */

//  fv

.top_fv img {
  position: relative;
  object-fit: cover;
  max-width: rem(1400);
  min-height: rem(250);
  z-index: 0;
  margin: 0 auto;
}


// sp

@include sp {

  // fv

  

}